/* Global Styles */
body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f9;
   margin: 0;
   padding: 0;
   transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
   background-color: #121212;
   p{
      color: #121212;
   }
}

.container {
   width: 80%;
   margin: 0 auto;
}

header {
   background-color: #333;
   color: #fff;
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

nav ul li {
   display: inline-block;
   margin: 0 15px;
}

nav ul li a {
   color: #fff;
   text-decoration: none;
   font-size: 18px;
}

nav ul li a:hover {
   color: #ff6347;
}

.theme-toggle {
   background-color: #ff6347;
   border: none;
   color: white;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   border-radius: 5px;
}

.theme-toggle:hover {
   background-color: #ff4500;
}

/* Main Section */
main {
   margin-top: 20px;
}

.page {
   display: none;
   padding: 20px;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
}

h1 {
   color: #333;
}

ul {
   padding-left: 20px;
}

ul li {
   margin-bottom: 10px;
}

a {
   color: #333;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}
